build
.idea/
shadowsocks.xcodeproj/project.xcworkspace/
shadowsocks.xcodeproj/xcuserdata/
.DS_STORE
*.dmg
Podfile
Podfile.lock
Pods/Manifest.lock
Pods/Headers/Private/libsodium/argon2-core.h
Pods/Headers/Private/libsodium/argon2-encoding.h
Pods/Headers/Private/libsodium/argon2.h
Pods/Headers/Private/libsodium/base.h
Pods/Headers/Private/libsodium/base2.h
Pods/Headers/Private/libsodium/blake2.h
Pods/Headers/Private/libsodium/blake2b-compress-avx2.h
Pods/Headers/Private/libsodium/blake2b-compress-sse41.h
Pods/Headers/Private/libsodium/blake2b-compress-ssse3.h
Pods/Headers/Private/libsodium/blake2b-load-avx2.h
Pods/Headers/Private/libsodium/blake2b-load-sse2.h
Pods/Headers/Private/libsodium/blake2b-load-sse41.h
Pods/Headers/Private/libsodium/blake2b-long.h
Pods/Headers/Private/libsodium/blamka-round-ref.h
Pods/Headers/Private/libsodium/blamka-round-ssse3.h
Pods/Headers/Private/libsodium/chacha20_dolbeau-avx2.h
Pods/Headers/Private/libsodium/chacha20_dolbeau-ssse3.h
Pods/Headers/Private/libsodium/chacha20_ref.h
Pods/Headers/Private/libsodium/common.h
Pods/Headers/Private/libsodium/consts.h
Pods/Headers/Private/libsodium/consts_namespace.h
Pods/Headers/Private/libsodium/core.h
Pods/Headers/Private/libsodium/crypto_aead_aes256gcm.h
Pods/Headers/Private/libsodium/crypto_aead_chacha20poly1305.h
Pods/Headers/Private/libsodium/crypto_aead_xchacha20poly1305.h
Pods/Headers/Private/libsodium/crypto_auth.h
Pods/Headers/Private/libsodium/crypto_auth_hmacsha256.h
Pods/Headers/Private/libsodium/crypto_auth_hmacsha512.h
Pods/Headers/Private/libsodium/crypto_auth_hmacsha512256.h
Pods/Headers/Private/libsodium/crypto_box.h
Pods/Headers/Private/libsodium/crypto_box_curve25519xchacha20poly1305.h
Pods/Headers/Private/libsodium/crypto_box_curve25519xsalsa20poly1305.h
Pods/Headers/Private/libsodium/crypto_core_hchacha20.h
Pods/Headers/Private/libsodium/crypto_core_hsalsa20.h
Pods/Headers/Private/libsodium/crypto_core_salsa20.h
Pods/Headers/Private/libsodium/crypto_core_salsa2012.h
Pods/Headers/Private/libsodium/crypto_core_salsa208.h
Pods/Headers/Private/libsodium/crypto_generichash.h
Pods/Headers/Private/libsodium/crypto_generichash_blake2b.h
Pods/Headers/Private/libsodium/crypto_hash.h
Pods/Headers/Private/libsodium/crypto_hash_sha256.h
Pods/Headers/Private/libsodium/crypto_hash_sha512.h
Pods/Headers/Private/libsodium/crypto_kdf.h
Pods/Headers/Private/libsodium/crypto_kdf_blake2b.h
Pods/Headers/Private/libsodium/crypto_kx.h
Pods/Headers/Private/libsodium/crypto_onetimeauth.h
Pods/Headers/Private/libsodium/crypto_onetimeauth_poly1305.h
Pods/Headers/Private/libsodium/crypto_pwhash.h
Pods/Headers/Private/libsodium/crypto_pwhash_argon2i.h
Pods/Headers/Private/libsodium/crypto_pwhash_scryptsalsa208sha256.h
Pods/Headers/Private/libsodium/crypto_scalarmult.h
Pods/Headers/Private/libsodium/crypto_scalarmult_curve25519.h
Pods/Headers/Private/libsodium/crypto_scrypt.h
Pods/Headers/Private/libsodium/crypto_secretbox.h
Pods/Headers/Private/libsodium/crypto_secretbox_xchacha20poly1305.h
Pods/Headers/Private/libsodium/crypto_secretbox_xsalsa20poly1305.h
Pods/Headers/Private/libsodium/crypto_shorthash.h
Pods/Headers/Private/libsodium/crypto_shorthash_siphash24.h
Pods/Headers/Private/libsodium/crypto_sign.h
Pods/Headers/Private/libsodium/crypto_sign_ed25519.h
Pods/Headers/Private/libsodium/crypto_sign_edwards25519sha512batch.h
Pods/Headers/Private/libsodium/crypto_stream.h
Pods/Headers/Private/libsodium/crypto_stream_aes128ctr.h
Pods/Headers/Private/libsodium/crypto_stream_chacha20.h
Pods/Headers/Private/libsodium/crypto_stream_salsa20.h
Pods/Headers/Private/libsodium/crypto_stream_salsa2012.h
Pods/Headers/Private/libsodium/crypto_stream_salsa208.h
Pods/Headers/Private/libsodium/crypto_stream_xchacha20.h
Pods/Headers/Private/libsodium/crypto_stream_xsalsa20.h
Pods/Headers/Private/libsodium/crypto_verify_16.h
Pods/Headers/Private/libsodium/crypto_verify_32.h
Pods/Headers/Private/libsodium/crypto_verify_64.h
Pods/Headers/Private/libsodium/curve25519_donna_c64.h
Pods/Headers/Private/libsodium/curve25519_ref10.h
Pods/Headers/Private/libsodium/curve25519_sandy2x.h
Pods/Headers/Private/libsodium/ed25519_ref10.h
Pods/Headers/Private/libsodium/export.h
Pods/Headers/Private/libsodium/fe.h
Pods/Headers/Private/libsodium/fe51.h
Pods/Headers/Private/libsodium/fe51_namespace.h
Pods/Headers/Private/libsodium/int128.h
Pods/Headers/Private/libsodium/ladder.h
Pods/Headers/Private/libsodium/ladder_base.h
Pods/Headers/Private/libsodium/ladder_base_namespace.h
Pods/Headers/Private/libsodium/ladder_namespace.h
Pods/Headers/Private/libsodium/mutex.h
Pods/Headers/Private/libsodium/onetimeauth_poly1305.h
Pods/Headers/Private/libsodium/pbkdf2-sha256.h
Pods/Headers/Private/libsodium/poly1305_donna.h
Pods/Headers/Private/libsodium/poly1305_donna32.h
Pods/Headers/Private/libsodium/poly1305_donna64.h
Pods/Headers/Private/libsodium/poly1305_sse2.h
Pods/Headers/Private/libsodium/randombytes.h
Pods/Headers/Private/libsodium/randombytes_nativeclient.h
Pods/Headers/Private/libsodium/randombytes_salsa20_random.h
Pods/Headers/Private/libsodium/randombytes_sysrandom.h
Pods/Headers/Private/libsodium/runtime.h
Pods/Headers/Private/libsodium/salsa20_ref.h
Pods/Headers/Private/libsodium/salsa20_xmm6.h
Pods/Headers/Private/libsodium/salsa20_xmm6int-avx2.h
Pods/Headers/Private/libsodium/salsa20_xmm6int-sse2.h
Pods/Headers/Private/libsodium/scalarmult_curve25519.h
Pods/Headers/Private/libsodium/shorthash_siphash_ref.h
Pods/Headers/Private/libsodium/sodium.h
Pods/Headers/Private/libsodium/sse2_64_32.h
Pods/Headers/Private/libsodium/stream_chacha20.h
Pods/Headers/Private/libsodium/stream_salsa20.h
Pods/Headers/Private/libsodium/u0.h
Pods/Headers/Private/libsodium/u1.h
Pods/Headers/Private/libsodium/u4.h
Pods/Headers/Private/libsodium/u8.h
Pods/Headers/Private/libsodium/utils.h
Pods/Headers/Private/libsodium/version.h
Pods/Headers/Private/libsodium/x25519_ref10.h
Pods/Headers/Public/libsodium/common.h
Pods/Headers/Public/libsodium/core.h
Pods/Headers/Public/libsodium/crypto_aead_aes256gcm.h
Pods/Headers/Public/libsodium/crypto_aead_chacha20poly1305.h
Pods/Headers/Public/libsodium/crypto_aead_xchacha20poly1305.h
Pods/Headers/Public/libsodium/crypto_auth.h
Pods/Headers/Public/libsodium/crypto_auth_hmacsha256.h
Pods/Headers/Public/libsodium/crypto_auth_hmacsha512.h
Pods/Headers/Public/libsodium/crypto_auth_hmacsha512256.h
Pods/Headers/Public/libsodium/crypto_box.h
Pods/Headers/Public/libsodium/crypto_box_curve25519xchacha20poly1305.h
Pods/Headers/Public/libsodium/crypto_box_curve25519xsalsa20poly1305.h
Pods/Headers/Public/libsodium/crypto_core_hchacha20.h
Pods/Headers/Public/libsodium/crypto_core_hsalsa20.h
Pods/Headers/Public/libsodium/crypto_core_salsa20.h
Pods/Headers/Public/libsodium/crypto_core_salsa2012.h
Pods/Headers/Public/libsodium/crypto_core_salsa208.h
Pods/Headers/Public/libsodium/crypto_generichash.h
Pods/Headers/Public/libsodium/crypto_generichash_blake2b.h
Pods/Headers/Public/libsodium/crypto_hash.h
Pods/Headers/Public/libsodium/crypto_hash_sha256.h
Pods/Headers/Public/libsodium/crypto_hash_sha512.h
Pods/Headers/Public/libsodium/crypto_kdf.h
Pods/Headers/Public/libsodium/crypto_kdf_blake2b.h
Pods/Headers/Public/libsodium/crypto_kx.h
Pods/Headers/Public/libsodium/crypto_onetimeauth.h
Pods/Headers/Public/libsodium/crypto_onetimeauth_poly1305.h
Pods/Headers/Public/libsodium/crypto_pwhash.h
Pods/Headers/Public/libsodium/crypto_pwhash_argon2i.h
Pods/Headers/Public/libsodium/crypto_pwhash_scryptsalsa208sha256.h
Pods/Headers/Public/libsodium/crypto_scalarmult.h
Pods/Headers/Public/libsodium/crypto_scalarmult_curve25519.h
Pods/Headers/Public/libsodium/crypto_secretbox.h
Pods/Headers/Public/libsodium/crypto_secretbox_xchacha20poly1305.h
Pods/Headers/Public/libsodium/crypto_secretbox_xsalsa20poly1305.h
Pods/Headers/Public/libsodium/crypto_shorthash.h
Pods/Headers/Public/libsodium/crypto_shorthash_siphash24.h
Pods/Headers/Public/libsodium/crypto_sign.h
Pods/Headers/Public/libsodium/crypto_sign_ed25519.h
Pods/Headers/Public/libsodium/crypto_sign_edwards25519sha512batch.h
Pods/Headers/Public/libsodium/crypto_stream.h
Pods/Headers/Public/libsodium/crypto_stream_aes128ctr.h
Pods/Headers/Public/libsodium/crypto_stream_chacha20.h
Pods/Headers/Public/libsodium/crypto_stream_salsa20.h
Pods/Headers/Public/libsodium/crypto_stream_salsa2012.h
Pods/Headers/Public/libsodium/crypto_stream_salsa208.h
Pods/Headers/Public/libsodium/crypto_stream_xchacha20.h
Pods/Headers/Public/libsodium/crypto_stream_xsalsa20.h
Pods/Headers/Public/libsodium/crypto_verify_16.h
Pods/Headers/Public/libsodium/crypto_verify_32.h
Pods/Headers/Public/libsodium/crypto_verify_64.h
Pods/Headers/Public/libsodium/curve25519_ref10.h
Pods/Headers/Public/libsodium/export.h
Pods/Headers/Public/libsodium/mutex.h
Pods/Headers/Public/libsodium/randombytes.h
Pods/Headers/Public/libsodium/randombytes_nativeclient.h
Pods/Headers/Public/libsodium/randombytes_salsa20_random.h
Pods/Headers/Public/libsodium/randombytes_sysrandom.h
Pods/Headers/Public/libsodium/runtime.h
Pods/Headers/Public/libsodium/sse2_64_32.h
Pods/Headers/Public/libsodium/utils.h
Pods/Headers/Public/libsodium/version.h
Pods/libsodium/LICENSE
Pods/libsodium/README.markdown
Pods/libsodium/src/libsodium/crypto_aead/aes256gcm/aesni/aead_aes256gcm_aesni.c
Pods/libsodium/src/libsodium/crypto_aead/chacha20poly1305/sodium/aead_chacha20poly1305.c
Pods/libsodium/src/libsodium/crypto_aead/xchacha20poly1305/sodium/aead_xchacha20poly1305.c
Pods/libsodium/src/libsodium/crypto_auth/crypto_auth.c
Pods/libsodium/src/libsodium/crypto_auth/hmacsha256/auth_hmacsha256.c
Pods/libsodium/src/libsodium/crypto_auth/hmacsha512/auth_hmacsha512.c
Pods/libsodium/src/libsodium/crypto_auth/hmacsha512256/auth_hmacsha512256.c
Pods/libsodium/src/libsodium/crypto_box/crypto_box.c
Pods/libsodium/src/libsodium/crypto_box/crypto_box_easy.c
Pods/libsodium/src/libsodium/crypto_box/crypto_box_seal.c
Pods/libsodium/src/libsodium/crypto_box/curve25519xchacha20poly1305/box_curve25519xchacha20poly1305.c
Pods/libsodium/src/libsodium/crypto_box/curve25519xsalsa20poly1305/box_curve25519xsalsa20poly1305.c
Pods/libsodium/src/libsodium/crypto_core/curve25519/ref10/base.h
Pods/libsodium/src/libsodium/crypto_core/curve25519/ref10/base2.h
Pods/libsodium/src/libsodium/crypto_core/curve25519/ref10/curve25519_ref10.c
Pods/libsodium/src/libsodium/crypto_core/hchacha20/core_hchacha20.c
Pods/libsodium/src/libsodium/crypto_core/hsalsa20/core_hsalsa20.c
Pods/libsodium/src/libsodium/crypto_core/hsalsa20/ref2/core_hsalsa20_ref2.c
Pods/libsodium/src/libsodium/crypto_core/salsa/ref/core_salsa_ref.c
Pods/libsodium/src/libsodium/crypto_generichash/crypto_generichash.c
Pods/libsodium/src/libsodium/crypto_generichash/blake2b/generichash_blake2.c
Pods/libsodium/src/libsodium/crypto_generichash/blake2b/ref/blake2.h
Pods/libsodium/src/libsodium/crypto_generichash/blake2b/ref/blake2b-compress-avx2.c
Pods/libsodium/src/libsodium/crypto_generichash/blake2b/ref/blake2b-compress-avx2.h
Pods/libsodium/src/libsodium/crypto_generichash/blake2b/ref/blake2b-compress-ref.c
Pods/libsodium/src/libsodium/crypto_generichash/blake2b/ref/blake2b-compress-sse41.c
Pods/libsodium/src/libsodium/crypto_generichash/blake2b/ref/blake2b-compress-sse41.h
Pods/libsodium/src/libsodium/crypto_generichash/blake2b/ref/blake2b-compress-ssse3.c
Pods/libsodium/src/libsodium/crypto_generichash/blake2b/ref/blake2b-compress-ssse3.h
Pods/libsodium/src/libsodium/crypto_generichash/blake2b/ref/blake2b-load-avx2.h
Pods/libsodium/src/libsodium/crypto_generichash/blake2b/ref/blake2b-load-sse2.h
Pods/libsodium/src/libsodium/crypto_generichash/blake2b/ref/blake2b-load-sse41.h
Pods/libsodium/src/libsodium/crypto_generichash/blake2b/ref/blake2b-ref.c
Pods/libsodium/src/libsodium/crypto_generichash/blake2b/ref/generichash_blake2b.c
Pods/libsodium/src/libsodium/crypto_hash/crypto_hash.c
Pods/libsodium/src/libsodium/crypto_hash/sha256/hash_sha256.c
Pods/libsodium/src/libsodium/crypto_hash/sha256/cp/hash_sha256_cp.c
Pods/libsodium/src/libsodium/crypto_hash/sha512/hash_sha512.c
Pods/libsodium/src/libsodium/crypto_hash/sha512/cp/hash_sha512_cp.c
Pods/libsodium/src/libsodium/crypto_kdf/crypto_kdf.c
Pods/libsodium/src/libsodium/crypto_kdf/blake2b/kdf_blake2b.c
Pods/libsodium/src/libsodium/crypto_kx/crypto_kx.c
Pods/libsodium/src/libsodium/crypto_onetimeauth/crypto_onetimeauth.c
Pods/libsodium/src/libsodium/crypto_onetimeauth/poly1305/onetimeauth_poly1305.c
Pods/libsodium/src/libsodium/crypto_onetimeauth/poly1305/onetimeauth_poly1305.h
Pods/libsodium/src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c
Pods/libsodium/src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.h
Pods/libsodium/src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna32.h
Pods/libsodium/src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna64.h
Pods/libsodium/src/libsodium/crypto_onetimeauth/poly1305/sse2/poly1305_sse2.c
Pods/libsodium/src/libsodium/crypto_onetimeauth/poly1305/sse2/poly1305_sse2.h
Pods/libsodium/src/libsodium/crypto_pwhash/crypto_pwhash.c
Pods/libsodium/src/libsodium/crypto_pwhash/argon2/argon2-core.c
Pods/libsodium/src/libsodium/crypto_pwhash/argon2/argon2-core.h
Pods/libsodium/src/libsodium/crypto_pwhash/argon2/argon2-encoding.c
Pods/libsodium/src/libsodium/crypto_pwhash/argon2/argon2-encoding.h
Pods/libsodium/src/libsodium/crypto_pwhash/argon2/argon2-fill-block-ref.c
Pods/libsodium/src/libsodium/crypto_pwhash/argon2/argon2-fill-block-ssse3.c
Pods/libsodium/src/libsodium/crypto_pwhash/argon2/argon2.c
Pods/libsodium/src/libsodium/crypto_pwhash/argon2/argon2.h
Pods/libsodium/src/libsodium/crypto_pwhash/argon2/blake2b-long.c
Pods/libsodium/src/libsodium/crypto_pwhash/argon2/blake2b-long.h
Pods/libsodium/src/libsodium/crypto_pwhash/argon2/blamka-round-ref.h
Pods/libsodium/src/libsodium/crypto_pwhash/argon2/blamka-round-ssse3.h
Pods/libsodium/src/libsodium/crypto_pwhash/argon2/pwhash_argon2i.c
Pods/libsodium/src/libsodium/crypto_pwhash/scryptsalsa208sha256/crypto_scrypt-common.c
Pods/libsodium/src/libsodium/crypto_pwhash/scryptsalsa208sha256/crypto_scrypt.h
Pods/libsodium/src/libsodium/crypto_pwhash/scryptsalsa208sha256/pbkdf2-sha256.c
Pods/libsodium/src/libsodium/crypto_pwhash/scryptsalsa208sha256/pbkdf2-sha256.h
Pods/libsodium/src/libsodium/crypto_pwhash/scryptsalsa208sha256/pwhash_scryptsalsa208sha256.c
Pods/libsodium/src/libsodium/crypto_pwhash/scryptsalsa208sha256/scrypt_platform.c
Pods/libsodium/src/libsodium/crypto_pwhash/scryptsalsa208sha256/nosse/pwhash_scryptsalsa208sha256_nosse.c
Pods/libsodium/src/libsodium/crypto_pwhash/scryptsalsa208sha256/sse/pwhash_scryptsalsa208sha256_sse.c
Pods/libsodium/src/libsodium/crypto_scalarmult/crypto_scalarmult.c
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/scalarmult_curve25519.c
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/scalarmult_curve25519.h
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/donna_c64/curve25519_donna_c64.c
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/donna_c64/curve25519_donna_c64.h
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.h
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/sandy2x/consts_namespace.h
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/sandy2x/curve25519_sandy2x.c
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/sandy2x/curve25519_sandy2x.h
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/sandy2x/fe.h
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/sandy2x/fe51.h
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/sandy2x/fe51_invert.c
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/sandy2x/fe51_namespace.h
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/sandy2x/fe_frombytes_sandy2x.c
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/sandy2x/ladder.h
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/sandy2x/ladder_base.h
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/sandy2x/ladder_base_namespace.h
Pods/libsodium/src/libsodium/crypto_scalarmult/curve25519/sandy2x/ladder_namespace.h
Pods/libsodium/src/libsodium/crypto_secretbox/crypto_secretbox.c
Pods/libsodium/src/libsodium/crypto_secretbox/crypto_secretbox_easy.c
Pods/libsodium/src/libsodium/crypto_secretbox/xchacha20poly1305/secretbox_xchacha20poly1305.c
Pods/libsodium/src/libsodium/crypto_secretbox/xsalsa20poly1305/secretbox_xsalsa20poly1305.c
Pods/libsodium/src/libsodium/crypto_shorthash/crypto_shorthash.c
Pods/libsodium/src/libsodium/crypto_shorthash/siphash24/shorthash_siphash24.c
Pods/libsodium/src/libsodium/crypto_shorthash/siphash24/shorthash_siphashx24.c
Pods/libsodium/src/libsodium/crypto_shorthash/siphash24/ref/shorthash_siphash24_ref.c
Pods/libsodium/src/libsodium/crypto_shorthash/siphash24/ref/shorthash_siphash_ref.h
Pods/libsodium/src/libsodium/crypto_shorthash/siphash24/ref/shorthash_siphashx24_ref.c
Pods/libsodium/src/libsodium/crypto_sign/crypto_sign.c
Pods/libsodium/src/libsodium/crypto_sign/ed25519/sign_ed25519.c
Pods/libsodium/src/libsodium/crypto_sign/ed25519/ref10/ed25519_ref10.h
Pods/libsodium/src/libsodium/crypto_sign/ed25519/ref10/keypair.c
Pods/libsodium/src/libsodium/crypto_sign/ed25519/ref10/obsolete.c
Pods/libsodium/src/libsodium/crypto_sign/ed25519/ref10/open.c
Pods/libsodium/src/libsodium/crypto_sign/ed25519/ref10/sign.c
Pods/libsodium/src/libsodium/crypto_stream/crypto_stream.c
Pods/libsodium/src/libsodium/crypto_stream/aes128ctr/stream_aes128ctr.c
Pods/libsodium/src/libsodium/crypto_stream/aes128ctr/nacl/afternm_aes128ctr.c
Pods/libsodium/src/libsodium/crypto_stream/aes128ctr/nacl/beforenm_aes128ctr.c
Pods/libsodium/src/libsodium/crypto_stream/aes128ctr/nacl/common.h
Pods/libsodium/src/libsodium/crypto_stream/aes128ctr/nacl/consts.h
Pods/libsodium/src/libsodium/crypto_stream/aes128ctr/nacl/consts_aes128ctr.c
Pods/libsodium/src/libsodium/crypto_stream/aes128ctr/nacl/int128.h
Pods/libsodium/src/libsodium/crypto_stream/aes128ctr/nacl/int128_aes128ctr.c
Pods/libsodium/src/libsodium/crypto_stream/aes128ctr/nacl/stream_aes128ctr_nacl.c
Pods/libsodium/src/libsodium/crypto_stream/aes128ctr/nacl/xor_afternm_aes128ctr.c
Pods/libsodium/src/libsodium/crypto_stream/chacha20/stream_chacha20.c
Pods/libsodium/src/libsodium/crypto_stream/chacha20/stream_chacha20.h
Pods/libsodium/src/libsodium/crypto_stream/chacha20/dolbeau/chacha20_dolbeau-avx2.c
Pods/libsodium/src/libsodium/crypto_stream/chacha20/dolbeau/chacha20_dolbeau-avx2.h
Pods/libsodium/src/libsodium/crypto_stream/chacha20/dolbeau/chacha20_dolbeau-ssse3.c
Pods/libsodium/src/libsodium/crypto_stream/chacha20/dolbeau/chacha20_dolbeau-ssse3.h
Pods/libsodium/src/libsodium/crypto_stream/chacha20/dolbeau/u0.h
Pods/libsodium/src/libsodium/crypto_stream/chacha20/dolbeau/u1.h
Pods/libsodium/src/libsodium/crypto_stream/chacha20/dolbeau/u4.h
Pods/libsodium/src/libsodium/crypto_stream/chacha20/dolbeau/u8.h
Pods/libsodium/src/libsodium/crypto_stream/chacha20/ref/chacha20_ref.c
Pods/libsodium/src/libsodium/crypto_stream/chacha20/ref/chacha20_ref.h
Pods/libsodium/src/libsodium/crypto_stream/salsa20/stream_salsa20.c
Pods/libsodium/src/libsodium/crypto_stream/salsa20/stream_salsa20.h
Pods/libsodium/src/libsodium/crypto_stream/salsa20/ref/salsa20_ref.c
Pods/libsodium/src/libsodium/crypto_stream/salsa20/ref/salsa20_ref.h
Pods/libsodium/src/libsodium/crypto_stream/salsa20/xmm6/salsa20_xmm6.c
Pods/libsodium/src/libsodium/crypto_stream/salsa20/xmm6/salsa20_xmm6.h
Pods/libsodium/src/libsodium/crypto_stream/salsa20/xmm6int/salsa20_xmm6int-avx2.c
Pods/libsodium/src/libsodium/crypto_stream/salsa20/xmm6int/salsa20_xmm6int-avx2.h
Pods/libsodium/src/libsodium/crypto_stream/salsa20/xmm6int/salsa20_xmm6int-sse2.c
Pods/libsodium/src/libsodium/crypto_stream/salsa20/xmm6int/salsa20_xmm6int-sse2.h
Pods/libsodium/src/libsodium/crypto_stream/salsa20/xmm6int/u0.h
Pods/libsodium/src/libsodium/crypto_stream/salsa20/xmm6int/u1.h
Pods/libsodium/src/libsodium/crypto_stream/salsa20/xmm6int/u4.h
Pods/libsodium/src/libsodium/crypto_stream/salsa20/xmm6int/u8.h
Pods/libsodium/src/libsodium/crypto_stream/salsa2012/stream_salsa2012.c
Pods/libsodium/src/libsodium/crypto_stream/salsa2012/ref/stream_salsa2012_ref.c
Pods/libsodium/src/libsodium/crypto_stream/salsa208/stream_salsa208.c
Pods/libsodium/src/libsodium/crypto_stream/salsa208/ref/stream_salsa208_ref.c
Pods/libsodium/src/libsodium/crypto_stream/xchacha20/stream_xchacha20.c
Pods/libsodium/src/libsodium/crypto_stream/xsalsa20/stream_xsalsa20.c
Pods/libsodium/src/libsodium/crypto_verify/sodium/verify.c
Pods/libsodium/src/libsodium/include/sodium.h
Pods/libsodium/src/libsodium/include/sodium/core.h
Pods/libsodium/src/libsodium/include/sodium/crypto_aead_aes256gcm.h
Pods/libsodium/src/libsodium/include/sodium/crypto_aead_chacha20poly1305.h
Pods/libsodium/src/libsodium/include/sodium/crypto_aead_xchacha20poly1305.h
Pods/libsodium/src/libsodium/include/sodium/crypto_auth.h
Pods/libsodium/src/libsodium/include/sodium/crypto_auth_hmacsha256.h
Pods/libsodium/src/libsodium/include/sodium/crypto_auth_hmacsha512.h
Pods/libsodium/src/libsodium/include/sodium/crypto_auth_hmacsha512256.h
Pods/libsodium/src/libsodium/include/sodium/crypto_box.h
Pods/libsodium/src/libsodium/include/sodium/crypto_box_curve25519xchacha20poly1305.h
Pods/libsodium/src/libsodium/include/sodium/crypto_box_curve25519xsalsa20poly1305.h
Pods/libsodium/src/libsodium/include/sodium/crypto_core_hchacha20.h
Pods/libsodium/src/libsodium/include/sodium/crypto_core_hsalsa20.h
Pods/libsodium/src/libsodium/include/sodium/crypto_core_salsa20.h
Pods/libsodium/src/libsodium/include/sodium/crypto_core_salsa2012.h
Pods/libsodium/src/libsodium/include/sodium/crypto_core_salsa208.h
Pods/libsodium/src/libsodium/include/sodium/crypto_generichash.h
Pods/libsodium/src/libsodium/include/sodium/crypto_generichash_blake2b.h
Pods/libsodium/src/libsodium/include/sodium/crypto_hash.h
Pods/libsodium/src/libsodium/include/sodium/crypto_hash_sha256.h
Pods/libsodium/src/libsodium/include/sodium/crypto_hash_sha512.h
Pods/libsodium/src/libsodium/include/sodium/crypto_kdf.h
Pods/libsodium/src/libsodium/include/sodium/crypto_kdf_blake2b.h
Pods/libsodium/src/libsodium/include/sodium/crypto_kx.h
Pods/libsodium/src/libsodium/include/sodium/crypto_onetimeauth.h
Pods/libsodium/src/libsodium/include/sodium/crypto_onetimeauth_poly1305.h
Pods/libsodium/src/libsodium/include/sodium/crypto_pwhash.h
Pods/libsodium/src/libsodium/include/sodium/crypto_pwhash_argon2i.h
Pods/libsodium/src/libsodium/include/sodium/crypto_pwhash_scryptsalsa208sha256.h
Pods/libsodium/src/libsodium/include/sodium/crypto_scalarmult.h
Pods/libsodium/src/libsodium/include/sodium/crypto_scalarmult_curve25519.h
Pods/libsodium/src/libsodium/include/sodium/crypto_secretbox.h
Pods/libsodium/src/libsodium/include/sodium/crypto_secretbox_xchacha20poly1305.h
Pods/libsodium/src/libsodium/include/sodium/crypto_secretbox_xsalsa20poly1305.h
Pods/libsodium/src/libsodium/include/sodium/crypto_shorthash.h
Pods/libsodium/src/libsodium/include/sodium/crypto_shorthash_siphash24.h
Pods/libsodium/src/libsodium/include/sodium/crypto_sign.h
Pods/libsodium/src/libsodium/include/sodium/crypto_sign_ed25519.h
Pods/libsodium/src/libsodium/include/sodium/crypto_sign_edwards25519sha512batch.h
Pods/libsodium/src/libsodium/include/sodium/crypto_stream.h
Pods/libsodium/src/libsodium/include/sodium/crypto_stream_aes128ctr.h
Pods/libsodium/src/libsodium/include/sodium/crypto_stream_chacha20.h
Pods/libsodium/src/libsodium/include/sodium/crypto_stream_salsa20.h
Pods/libsodium/src/libsodium/include/sodium/crypto_stream_salsa2012.h
Pods/libsodium/src/libsodium/include/sodium/crypto_stream_salsa208.h
Pods/libsodium/src/libsodium/include/sodium/crypto_stream_xchacha20.h
Pods/libsodium/src/libsodium/include/sodium/crypto_stream_xsalsa20.h
Pods/libsodium/src/libsodium/include/sodium/crypto_verify_16.h
Pods/libsodium/src/libsodium/include/sodium/crypto_verify_32.h
Pods/libsodium/src/libsodium/include/sodium/crypto_verify_64.h
Pods/libsodium/src/libsodium/include/sodium/export.h
Pods/libsodium/src/libsodium/include/sodium/randombytes.h
Pods/libsodium/src/libsodium/include/sodium/randombytes_nativeclient.h
Pods/libsodium/src/libsodium/include/sodium/randombytes_salsa20_random.h
Pods/libsodium/src/libsodium/include/sodium/randombytes_sysrandom.h
Pods/libsodium/src/libsodium/include/sodium/runtime.h
Pods/libsodium/src/libsodium/include/sodium/utils.h
Pods/libsodium/src/libsodium/include/sodium/version.h
Pods/libsodium/src/libsodium/include/sodium/version.h.in
Pods/libsodium/src/libsodium/include/sodium/private/common.h
Pods/libsodium/src/libsodium/include/sodium/private/curve25519_ref10.h
Pods/libsodium/src/libsodium/include/sodium/private/mutex.h
Pods/libsodium/src/libsodium/include/sodium/private/sse2_64_32.h
Pods/libsodium/src/libsodium/randombytes/randombytes.c
Pods/libsodium/src/libsodium/randombytes/nativeclient/randombytes_nativeclient.c
Pods/libsodium/src/libsodium/randombytes/salsa20/randombytes_salsa20_random.c
Pods/libsodium/src/libsodium/randombytes/sysrandom/randombytes_sysrandom.c
Pods/libsodium/src/libsodium/sodium/core.c
Pods/libsodium/src/libsodium/sodium/runtime.c
Pods/libsodium/src/libsodium/sodium/utils.c
Pods/libsodium/src/libsodium/sodium/version.c
Pods/Pods.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/xujingbao.xcuserdatad/xcschemes/libsodium.xcscheme
Pods/Pods.xcodeproj/xcuserdata/xujingbao.xcuserdatad/xcschemes/Pods-libshadowsocks.xcscheme
Pods/Pods.xcodeproj/xcuserdata/xujingbao.xcuserdatad/xcschemes/Pods-shadowsocks.xcscheme
Pods/Pods.xcodeproj/xcuserdata/xujingbao.xcuserdatad/xcschemes/Pods-shadowsocks_sysconf.xcscheme
Pods/Pods.xcodeproj/xcuserdata/xujingbao.xcuserdatad/xcschemes/Pods-ShadowsocksX.xcscheme
Pods/Pods.xcodeproj/xcuserdata/xujingbao.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Target Support Files/libsodium/libsodium-dummy.m
Pods/Target Support Files/libsodium/libsodium-prefix.pch
Pods/Target Support Files/libsodium/libsodium.xcconfig
Pods/Target Support Files/Pods-libshadowsocks/Pods-libshadowsocks-acknowledgements.markdown
Pods/Target Support Files/Pods-libshadowsocks/Pods-libshadowsocks-acknowledgements.plist
Pods/Target Support Files/Pods-libshadowsocks/Pods-libshadowsocks-dummy.m
Pods/Target Support Files/Pods-libshadowsocks/Pods-libshadowsocks.debug.xcconfig
Pods/Target Support Files/Pods-libshadowsocks/Pods-libshadowsocks.release.xcconfig
Pods/Target Support Files/Pods-shadowsocks/Pods-shadowsocks-acknowledgements.markdown
Pods/Target Support Files/Pods-shadowsocks/Pods-shadowsocks-acknowledgements.plist
Pods/Target Support Files/Pods-shadowsocks/Pods-shadowsocks-dummy.m
Pods/Target Support Files/Pods-shadowsocks/Pods-shadowsocks.debug.xcconfig
Pods/Target Support Files/Pods-shadowsocks/Pods-shadowsocks.release.xcconfig
Pods/Target Support Files/Pods-shadowsocks_sysconf/Pods-shadowsocks_sysconf-acknowledgements.markdown
Pods/Target Support Files/Pods-shadowsocks_sysconf/Pods-shadowsocks_sysconf-acknowledgements.plist
Pods/Target Support Files/Pods-shadowsocks_sysconf/Pods-shadowsocks_sysconf-dummy.m
Pods/Target Support Files/Pods-shadowsocks_sysconf/Pods-shadowsocks_sysconf.debug.xcconfig
Pods/Target Support Files/Pods-shadowsocks_sysconf/Pods-shadowsocks_sysconf.release.xcconfig
Pods/Target Support Files/Pods-ShadowsocksX/Pods-ShadowsocksX-acknowledgements.markdown
Pods/Target Support Files/Pods-ShadowsocksX/Pods-ShadowsocksX-acknowledgements.plist
Pods/Target Support Files/Pods-ShadowsocksX/Pods-ShadowsocksX-dummy.m
Pods/Target Support Files/Pods-ShadowsocksX/Pods-ShadowsocksX.debug.xcconfig
Pods/Target Support Files/Pods-ShadowsocksX/Pods-ShadowsocksX.release.xcconfig
shadowsocks.xcworkspace/contents.xcworkspacedata
shadowsocks.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
shadowsocks.xcworkspace/xcuserdata/xujingbao.xcuserdatad/UserInterfaceState.xcuserstate
zxing-objc/ZXingObjC.xcodeproj/xcuserdata/xujingbao.xcuserdatad/xcschemes/xcschememanagement.plist
